@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables de couleurs par défaut (mode clair) */
:root {
  --background: #fff; /*  Arrière-plan card */
  --foreground: #222c73;
  --line-color: #222c73;
  --point-color: #222c73;
}

/* Mode sombre avec la classe "dark" */
.dark {
  --background: #2d416a; /* Arrière-plan sombre des cards */
  --foreground: #eee; /* Texte clair */
  --line-color: #eee;
  --point-color: #eee;
}
